[
    (
        kind: Freeze,
        level_to_effectiveness: {
          1: 10,
          2: 20,
          3: 25,
          4: 30,
          5: 35,
        },
        level_to_cooldown: {
          1: 20,
          2: 40,
          3: 50,
          4: 60,
          5: 65,
        },
        level_to_price: {
          1: 20,
          2: 40,
          3: 65,
          4: 100,
          5: 150,
        },
    ),
    (
        kind: Aura,
        level_to_effectiveness: {
          1: 1,
          2: 2,
          3: 2,
          4: 3,
          5: 3,
        },
        level_to_cooldown: {
        },
        level_to_price: {
          1: 20,
          2: 40,
          3: 65,
          4: 100,
          5: 150,
        },
    ),
    (
        kind: RPM,
        level_to_effectiveness: {
          1: 30,
          2: 60,
          3: 90,
          4: 120,
          5: 150,
        },
        level_to_cooldown: {},
        level_to_price: {
          1: 20,
          2: 40,
          3: 65,
          4: 100,
          5: 150,
        },
    ),
    (
        kind: Damage,
        level_to_effectiveness: {
          1: 25,
          2: 50,
          3: 75,
          4: 100,
          5: 125,
        },
        level_to_cooldown: {},
        level_to_price: {
          1: 20,
          2: 40,
          3: 65,
          4: 100,
          5: 150,
        },
    ),
    (
        kind: Range,
        level_to_effectiveness: {
          1: 40,
          2: 80,
          3: 120,
          4: 160,
          5: 200,
        },
        level_to_cooldown: {},
        level_to_price: {
          1: 20,
          2: 40,
          3: 65,
          4: 100,
          5: 150,
        },
    ),
]
