[
    [Target, Walk(West), Build, Build, Build],
      [Walk(NorthEast), Build, Walk(SouthWest), Walk(West), Walk(West)],
    [Build, Walk(NorthWest), Walk(West), Build, Walk(NorthEast)],
      [Build, Walk(SouthEast), Build, Build, Walk(NorthWest)],
    [Spawn(East), Walk(NorthEast), Walk(East), Walk(East), Walk(NorthEast)],
]

