[
    [Target, Walk(West), Build, Build, Build],
      [Walk(NorthEast), Build, Walk(SouthWest), Walk(West), Walk(West)],
    [Build, Walk(NorthWest), Walk(West), Empty, Walk(NorthEast)],
      [Build, Build, Build, Build, Walk(NorthWest)],
    [Spawn, Walk(East), Walk(East), Walk(East), Walk(NorthEast)],
]
