[
    (
        speed: 1.0,
        health: 10,
        enemy_count: 5,
        spawn_delay: 20,
    ),
    (
        spawn_delay: 40,
        enemy_count: 8,
        speed: 0.75,
        health: 90,
    ),
    (
        spawn_delay: 140,
        enemy_count: 10,
        speed: 0.5,
        health: 150,
    ),
]
